[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "sand"]
	path = sand
	url = https://github.com/kolaczyk/sand
	shallow = true
	subdir = sand
	registered = true
